body {
  font-family: "Times New Roman", Times, serif;
  background-color: black;
}

header {
  width: 1200px;
  margin: auto;
  border: 2px solid white;
  border-spacing: 5px;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}

p {
  color: white;
}

a {
  list-style-type: none;
  text-decoration: none;
}

nav {
  text-align: center;
  width: 750px;
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 2px;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
}

#mainnav {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#mainnav ul li {
  display: inline;
  font-size: 1em;
  padding: 1em 2.5em 1em 2.5em;
}

h1 {
  display: block;
  text-align: center;
  color: white;
}

h2 {
  display: block;
  color: white;
}

h3 {
  display: block;
  color: white;
}

#maincontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin: auto;
}

#sidenav {
  display: block;
  width: 300px;
  float: left;
}

#sidenav ul {
  list-style-type: none;
}

#sidenav ul li {
  display: block;
  text-align: center;
  font-size: 1em;
  padding: 2em 2.5em 2em 2.5em;
  border: 1px solid white;
  background-color: gray;
  border-radius: 5px;
  margin-right: 2em;
  margin-bottom: 2em;
}

#sidenav ul li a {
  text-decoration: none;
}

#historystuff {
  display: block;
  width: 875px;
  float: right;
}

#historylink {
  display: block;
	min-height: 108px;
  margin-left: auto;
  margin-right: auto;
}

#manufactlandingpage {
  display: block;
  min-height: 108px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
}

#otherlinks {
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin: auto;
}

#gallerypage {
  display: block;
  padding: 4em;
  float: left;
}

#gallerypage p {
  display: block;
  text-align: center;
  font-size: 30px;
}

#gallerypage img {
  height: 300px;
  width: 500px;
}

#newspage {
  display: block;
  padding: 4em;
  float: right;
}

#newspage p {
  display: block;
  text-align: center;
  font-size: 30px;
}

#newspage img {
  height: 300px;
  width: 250px;
}

#mercedeslink {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

#mercedeslink p {
  text-align: center;
  font-size: 50px;
}

#mercedeslink img {
  width: 500px;
  height: 300px;
}

#autounionlink {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

#autounionlink p {
  text-align: center;
  font-size: 50px;
}

#autounionlink img {
  width: 500px;
  height: 300px;
}

h2 {
  height: 22px;
  width: 300px;
}

footer {
  display: block;
  border-top: 1px solid white;
  width: 1200px;
  padding: 1em 2.5em 1em 2.5em;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
}

#createdby {
  display: block;
  padding-top: 0.1em;
  float: left;
}

#lastedited {
  display: block;
  padding-top: 0.1em;
  float: right;
}

#excuseus {
  text-align: center;
}
